.jumbotron {
  padding-top: 7rem;
  background-color: #61daf0;
}

#about {
  background-color: #302f2f;
}

#anggota {
  background-color: #9df0f0;
}

#galery {
  padding-top: 7rem;
  background-color: #302f2f;
}

#contact {
  background-color: #9df0f0;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#galery .row > * {
  padding: 1rem;

}
